---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Backgrounds 
$background-color: #ffffff;
$background-color-alter: darken($background-color, 5%);

// Basic font settings
$base-font-family:  "Calluna", "Georgia", serif;
$base-font-size:    20px;
$base-font-weight:  200;
$base-line-height:  1.4;

$text-color: #454545;
$text-color-light: lighten($text-color, 15%);
$text-color-dark: darken($text-color, 15%);

$small-font-size:   $base-font-size * 0.8;

// Accents
$accent-color: #0e9d09;
$accent-color-light: lighten($accent-color, 45%);
$accent-color-dark: darken($accent-color, 5%);

$subtle-color: rgba(darken($background-color, 50%), 0.33);
$subtle-color-light: lighten($subtle-color, 45%);
$subtle-color-dark: rgba($subtle-color, 0.25);

// Headers
$header-font-family: "Myriad-Pro", "Lucida Grande", sans-serif;
$header-font-size: 30px;
$header-font-weight: 900;
$header-line-height: $base-line-height * $base-font-size / $header-font-size;

// Code
$code-font-family: "Menlo", monospace, sans-serif;
$code-font-size: $base-font-size / 1.4; //FIXME
$code-font-weight: 300;
$code-line-height: $base-line-height * $base-font-size / $code-font-size; //FIXME

// Spacings
$spacing-unit: $base-font-size * $base-line-height;

// Widths
$content-width: 800px;
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
        // "experiment"
;
