---
layout: default
permalink: /blog
---
<ul class="post-list">
    {% for post in site.posts %}
        {% unless post.categories contains "podcast" or post.skip %}
        <li>
            <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
            {% if post.excerpt %}
                <p class="post-link-excerpt">{{ post.excerpt }}</p>
            {% endif %}
        </li>
        {% endunless %}
    {% endfor %}
</ul>
