<header class="site-header">
    <div class="wrapper center">
        <a href="/">
        <svg width="50" height="50">
            <defs>
            <pattern id="image" patternUnits="userSpaceOnUse" height="100" width="100">
                <image x="0" y="0" height="50" width="50" xlink:href="http://pbs.twimg.com/profile_images/625629322464894976/0Vw11OCX.jpg"></image>
            </pattern>
            </defs>
            <circle id='userpic' cx="50%" cy="50%" r="45%" fill="url(#image)" stroke="#757575" stroke-width="1.5" />
        </svg>
        <h2>
            Rishat Muhametshin
        </h2>
        </a>
    </div>
</header>